html,
body,
div,
dl,
dt,
dd,
p {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	display: block;
	font-size: 14px;
	font-family: "Times New Roman";
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.2rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.8rem;
}
h6 {
	font-size: 0.5rem;
}
.container {
	width: 100%;
	box-sizing: border-box;
	padding-left: 50%;
	position: relative;
	overflow: hidden;
	height: 100%;
}
.wrapper {
	height: 100%;
	width: 100%;
}
.letter_preview {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}
.letter_preview iframe {
	height: 100%;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.letter {
	font-size: 0;
	height: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
.letter-head {
	background: #f3987d;
	height: 25%;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}
.letter-head_name {
	margin: 2rem;
	color: #fff4e7;
	padding: 2rem;
	font-size: 2.2rem;
	text-transform: uppercase;
	border: 0.5rem solid #464e61;
}
.letter-head_name span {
	padding: 0 1rem;
	display: inline-block;
	min-height: 1rem;
}
.letter-head_position {
	margin: -2.1em auto 0;
	display: block;
	width: 50%;
	background: #f3987d;
	color: #464e61;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
}
.letter-head_description {
	margin: 2rem 5rem 0;
	font-size: 1rem;
	color: #fee2c8;
	line-height: 1.5rem;
	font-weight: bold;
}
.letter-body {
	background: #464e61;
	height: 75%;
	font-size: 1rem;
	position: relative;
	padding-left: 25%;
	color: #c1bdb7;
}
.letter-body_sidebar {
	position: absolute;
	left: 0;
	top: 2rem;
	bottom: 2rem;
	padding-left: 2rem;
	width: 25%;
	overflow: hidden;
	box-sizing: border-box;
}
.letter-body_sidebar h2 {
	padding-top: 0;
	margin-top: 0;
	color: #fdf4e3;
}
.letter-body_sidebar dl {
	font-size: 1rem;
}
.letter-body_sidebar dt {
	font-weight: bold;
	color: #fdf4e3;
	margin-top: 0.3rem;
}
.letter-body_sidebar dd {
	margin: 0.5rem 0;
}
.letter-body_sidebar:after {
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	height: auto;
	right: 0;
	width: 3%;
	background: #f3987d;
}
.letter-body_main {
	box-sizing: border-box;
	padding: 2rem 4rem;
}
.letter-body_main > p {
	margin: 1.5rem 0;
	line-height: 1.6rem;
	font-size:1.2rem;
}
.letter-body_date {
	text-align: right;
	color: #fff4e7;
	font-weight: bold;
	margin-bottom: 1rem;
}
.letter-body_receiver {
	color: #f3987d;
	font-weight: bold;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}
.letter-body_sign {
	position: absolute;
	width: 12rem;
	right: 5rem;
	bottom: 4rem;
	color: #fdf4e3;
	text-transform: capitalize;
	font-size: 1rem;
}

.form_options {
	width: 100%;
	box-sizing: border-box;
	padding-left: 4rem;
}
.form_options ul,
.form_options li {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.form_options li {
	margin: 0.5rem 0;
}
.form_options label {
	display: inline-block;
	width: 8rem;
	font-size: 1.2rem;
	padding-top: 0.5rem;
	vertical-align: top;
}
.form_options input {
	width: 50%;
	padding: 0.5rem;
	border: 1px solid #464e61;
}
.form_options textarea {
	width: 50%;
	padding: 0.5rem;
	margin: 0;
	border: 1px solid #464e61;
	outline: none;
}
.options{
	position: absolute;
	box-sizing: border-box;
	right: 0;
	top: 0;
}
.options .variables{
	padding-top: 4rem;
}
.options .variables input{
	display: block;
	margin-bottom:1rem;
	height:2rem;
}
.btn {
	background: #464e61;
	color: #fff;
	border: 0;
	height: 3rem;
	width: 5rem;
	display: inline-block;
	line-height: 3rem;
	margin: 0;
	padding: 0;
	text-align: center;
}
.btn:active {
	border: 0;
	background: #464e61;
	color: #464e61;
}
.btn:hover {
	background: #f3987d;
	color: #fee2c8;
}
.btn.download {
	margin-left: 2rem;
	background: #f3987d;
}
